<html ng-app="ionicApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0, width=device-width">
    <title>CrossBell</title>
    <link href="../ionic/css/ionic.min.css" rel="stylesheet">
    <script src="../ionic/js/ionic.bundle.min.js"></script>
    <script type="text/javascript" src="../jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../jquery/jQueryRotate.2.2.js"></script>
    <style>
    body {
        /*text-align: center*/
    }
    
    .centerClass {
        text-align: center
    }
    
    .link {
        color: #37cd5f;
        text-decoration: none;
        font-weight: bold;
    }
    
    .titleClass {
        color: #37cd5f;
    }
    
    .rightButton {
        margin-right: 1em;
    }
    
    .backgroundColor {
        background-color: #00FF00;
    }
    
    .coverimage {
        border-radius: 50%;
        height: 10em;
        width: 10em;
        /*        -webkit-animation: music_disc 40s linear infinite;
        -moz-animation: music_disc 40s linear infinite;
        -o-animation: music_disc 40s linear infinite;
        animation: music_disc 40s linear infinite;
        -webkit-animation-play-state:paused;*/
    }
    
    .coverimagestop {
        border-radius: 50%;
        height: 10em;
        width: 10em;
        /*        -webkit-animation: music_disc 40s linear infinite;
        -moz-animation: music_disc 40s linear infinite;
        -o-animation: music_disc 40s linear infinite;
        animation: music_disc;
        -webkit-animation-play-state:paused;*/
        animation-play-state: paused;
    }
    
    #play {
        height: 2em;
        width: 2em;
    }
    /*    .progressbar {
        width: 15em;
        height: 0.5em;
        border-radius: 0.25em;
        background: red;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
    }*/
    
    .progressbar .orange,
    .green,
    .blue,
    .red,
    .black {
        border-radius: 0.5em;
        position: relative;
        text-align: left;
        color: #ffffff;
        height: 0.5em;
        line-height: 1em;
        display: block;
    }
    
    .time {
        float: left
    }
    
    .progressbar {
        /*float: left;*/
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 70%;
        border-radius: 0.5em;
        position: relative;
        background-color: #F0EFEF;
        border: 1px solid #66CC33;
        padding: 0px;
    }
    
    .progressbar .green {
        background-color: #66CC33;
    }
    </style>
    <script>
    var app = angular.module('ionicApp', ['ionic']);
    var param = {
        "s": "word",
        "offset": 0,
        "limit": 10,
        "type": 1
    };
    // app.config(['$httpProvider', function($httpProvider) {
    //     $httpProvider.defaults.withCredentials = true;
    // }]);


    var vid = document.getElementById("myVideo");
    var img = document.getElementById("rotate");
    var moving = false;
    var currentAngle = new Number;
    currentAngle = 0;

    app.controller('myCtrl', function($scope, $http, $ionicModal, $ionicLoading, $timeout) {
        $scope.imagename = "images/Grad Erlija -Retrospektiva-.jpg";
        $scope.mp3name = "music/Rigel Theatre - Grad Erlija -Retrospektiva-.mp3";
        $scope.palyImage = "images/play.png";
        $scope.pauseIamge = "images/pause.png";
        $scope.palyImageSelected = "images/playOn.png";
        $scope.count = 0;
        $scope.h1Hide = false;
        $scope.musicname = "邓丽君";
        $scope.lyric = [];
        $scope.currentLyric = "";

        $scope.currentSong = {
            "name": "Grad Erlija -Retrospektiva-",
            "mp3Url": "music/Rigel Theatre - Grad Erlija -Retrospektiva-.mp3",
            "album": {
                "name": "Grad Erlija -Retrospektiva-",
                "picUrl": "images/Grad Erlija -Retrospektiva-.jpg"
            },
            "artists": [{
                "name": "Rigel Theatre",
            }]
        };


        // $ionicModal.fromTemplateUrl('musicplay', {
        //     scope: $scope
        // }).then(function(modal) {
        //     $scope.modal = modal;
        // });

        // Setup the loader

        // // Set a timeout to clear loader, however you would actually call the $ionicLoading.hide(); method whenever everything is ready or loaded.


        $ionicModal.fromTemplateUrl('templates/modal.html', {
            scope: $scope
        }).then(function(modal) {
            $scope.modal = modal;
        });

        $scope.toggle = function() {
            var textFiled = document.getElementById("searchFiled")

            var s = textFiled.value;

            this.searchMusic(s);

        }

        $scope.searchMusic = function(s) {
            $ionicLoading.show({
                template: '<ion-spinner icon="bubbles" class="spinner-balanced"></ion-spinner>',
                animation: 'fade-in',
                maxWidth: 200,
                showDelay: 0,
                duration: 10000,
            });

            var url = "searchMusic?name=" + s;

            $http.get(url)
                .success(function(response) {
                    $ionicLoading.hide();
                    $scope.songs = response.result.songs;
                })
                .error(function(response) {
                    $ionicLoading.hide();
                });
        }

        $scope.getLyric = function(id) {
            var url = "getLyric?id=" + id;

            $http.get(url)
                .success(function(response) {
                    readyLyric(response.lrc.lyric);
                })
                .error(function(response) {

                });
        }

        var tflag = 0;

        function readyLyric(ly) //准备好歌词
        {
            // lytext.length=0;
            // lytime.length=0;
            // lytext = new Array();
            // lytime = new Array();
            $scope.currentLyric = "";

            if (ly === "") {
                ly = "[00:00]暂无歌词\n";
            }

            var arrly = ly.split("\n"); //转化成数组
            // alert(arrly);
            tflag = 0;


            $scope.lyric = [];
            // $("#lry").html(" "); //清空歌词显示区域

            // document.getElementById("lyr").scrollTop = 0;

            for (i = 0; i < arrly.length; i++) {
                sToArray(arrly[i]); //解析如“[02:02][00:24]没想到是你”的字符串前放入数组
            }

            // sortAr(); //按时间重新排序时间和歌词的数组 

            // if (!lyricScorll) {
            //     startLyricScroll(); //开始歌词滚动
            // }

            // $scope.lyric = lytext;
        }

        function sToArray(str) //解析如“[02:02][00:24]没想到是你”的字符串前放入数组
        {

            var left = 0; //"["的个数
            var leftAr = [];
            for (var k = 0; k < str.length; k++) {
                if (str.charAt(k) == "[") {
                    leftAr[left] = k;
                    left++;
                }
            }

            if (left !== 0) {
                for (var i = 0; i < leftAr.length; i++) {
                    var json = {
                        "words": str.substring(str.lastIndexOf("]") + 1),
                        "time": conSeconds(str.substring(leftAr[i] + 1, leftAr[i] + 6))
                    }
                    $scope.lyric[tflag] = json;
                    // $scope.lyric[tflag].time = conSeconds(str.substring(leftAr[i] + 1, leftAr[i] + 6)); //放时间
                    tflag++;
                }
            }

            //alert(str.substring(leftAr[0]+1,leftAr[0]+6)); 
        }

        function conSeconds(t) //把形如：01：25的时间转化成秒；
        {
            var m = t.substring(0, t.indexOf(":"));
            var s = t.substring(t.indexOf(":") + 1);
            m = parseInt(m.replace(/0/, ""));
            //if(isNaN(s)) s=0; 
            var totalt = parseInt(m) * 60 + parseInt(s);
            //alert
            // (parseInt(s.replace(//b(0+)/gi,""))); 
            //if(isNaN(totalt))  return 0; 

            return totalt;
        }

        function showWithTime(t) {
            for (k = 0; k < $scope.lyric.length; k++) {
                if (($scope.lyric[k].time <= t && t < $scope.lyric[k + 1].time) || ((k == ($scope.lyric.length - 1)) && (t >= $scope.lyric[0].time))) //当前显示的这一行
                {
                    $scope.currentLyric = $scope.lyric[k].words + "   " + $scope.lyric[k + 1].words;
                    $scope.$apply();
                    // $scope.updatedateCurLyric($scope.lyric[k].words); //记录当前的歌词条
                    return; //找到了就赶紧跳出函数
                }
            }

        }

        $scope.showMusicPlayer = function() {
            $scope.modal.show()
            vid = document.getElementById("myVideo");
            img = document.getElementById("rotate");

            setupPlayer();
        }

        $scope.showPlayerList = function() {

        }


        $scope.changMusic = function(index, $event) {
            //阻止冒泡
            $event.stopPropagation();

            $scope.modal.show();

            $scope.currentSong = {};
            $scope.currentSong = $scope.songs[index];
            $scope.curMusciName = $scope.currentSong.name;
            $scope.imagename = $scope.currentSong.album.picUrl;

            $scope.lyric = "";

            $scope.getLyric($scope.currentSong.id);

            setupPlayer();

            stopRotation();
            currentAngle = 0;

            vid = document.getElementById("myVideo");
            img = document.getElementById("rotate");


            changeProgress(0);
            document.getElementById("source1").src = $scope.currentSong.mp3Url;
            document.getElementById("source2").src = $scope.currentSong.mp3Url.replace("http:\/\/m", "http://p");
            vid.load();

            vid.play();

        }

        $('#searchFiled').bind('keyup', function(event) {
            if (event.keyCode == "13") {
                //回车执行查询
                $scope.toggle();
            }
        });


        function setupPlayer() {

            vid = document.getElementById("myVideo");
            img = document.getElementById("rotate");
            vid.addEventListener('play',  function() {
                // img.className = "coverimage";    
                // img.style.animationPlayState = "running";
                updateState(true);
                rotation();

            },  false);
            vid.addEventListener('pause',  function() {
                // img.className = "coverimagestop";
                // img.style.animationPlayState = "paused";
                updateState(false);
                stopRotation();

            },  false);


            vid.ontimeupdate = function() {
                timeUpdate()
            };

            function timeUpdate() {

                if (!moving) {
                    changeProgress(vid.currentTime / vid.duration * 100);
                };


                timeChange();
            }

            function timeChange() { //默认获取的时间是时间戳改成我们常见的时间格式
                //分钟
                var curTime = timeFormatted(vid.currentTime);

                var totalTime = timeFormatted(vid.duration);
                document.getElementById("time").innerHTML = curTime + "/" + totalTime;
                showWithTime(vid.currentTime);
            }


            function updateState(isplay) {
                // body...
                if (isplay) {
                    document.getElementById("play").src = "images/pause.png";
                } else {
                    document.getElementById("play").src = "images/play.png";
                }
            }


        }

    });





    function playAction() {
        vid = document.getElementById("myVideo");
        if (vid.paused) {
            vid.play();
        } else {
            vid.pause();
        }
    }



    // 为 video 元素添加 ontimeupdate 事件，如果当前播放位置改变则执行函数  


    var pbj = document.getElementById("progressbg");
    pbj.addEventListener("touchstart", touchStart, false);
    pbj.addEventListener("touchmove", touchMove, false);
    pbj.addEventListener("touchend", touchEnd, false);

    function progressClick(e) {
        // body...

        var pbj = document.getElementById("progressbg");
        var curTime = e.offsetX / pbj.clientWidth * vid.duration;
        vid.currentTime = curTime;
    }


    function timeFormatted(time) {
        // body...
        var minute = time / 60;
        var minutes = parseInt(minute);
        if (minutes < 10) {
            minutes = "0" + minutes;
        }
        //秒
        var second = time % 60;
        seconds = parseInt(second);
        if (seconds < 10) {
            seconds = "0" + seconds;
        }
        var allTime = "" + minutes + "" + ":" + "" + seconds + ""
        return allTime;
    }


    function getElementLeft(element) {　　　　
        var actualLeft = element.offsetLeft;　　　　
        var current = element.offsetParent;　　　　
        while (current !== null) {　　　　　　
            actualLeft += current.offsetLeft;　　　　　　
            current = current.offsetParent;　　　　
        }　　　　
        return actualLeft;　　
    }　　
    function getElementTop(element) {　　　　
        var actualTop = element.offsetTop;　　　　
        var current = element.offsetParent;　　　　
        while (current !== null) {　　　　　　
            actualTop += current.offsetTop;　　　　　　
            current = current.offsetParent;　　　　
        }　　　　
        return actualTop;　　
    }

    function touchStart(e) {
        e.preventDefault();
        moving = true;
        var touch = e.touches[0];
        resultX = touch.pageX;
        var pbj = document.getElementById("progressbg");
        var percent = (resultX - getElementLeft(pbj)) / pbj.offsetWidth * 100;
        changeProgress(percent);

    }

    function touchMove(e) { //滑动          
        e.preventDefault();
        moving = true;
        var touch = e.touches[0];
        resultX = touch.pageX;
        var pbj = document.getElementById("progressbg");
        var percent = (resultX - getElementLeft(pbj)) / pbj.offsetWidth * 100;
        changeProgress(percent);
        // vid.currentTime = curTime;
        // if (needPlay) 
        // {
        //     vid.play();
        // };
    }

    function touchEnd(e) { //手指离开屏幕
        e.preventDefault();
        var touch = e.changedTouches[0]; //touchend好像只有changedTouches
        resultX = touch.pageX;
        var pbj = document.getElementById("progressbg");
        var percent = (resultX - getElementLeft(pbj)) / pbj.offsetWidth * 100;
        if (changeProgress(percent)) {
            var curTime = percent * vid.duration / 100;
            var needPlay = !vid.paused;
            vid.currentTime = curTime;
            if (needPlay) {
                vid.play();
            };
        }


    }

    function changeProgress(percent) {
        // body...
        var result = false;
        if (percent <= 100 && percent >= 0) {
            document.getElementById("progress").style.width = percent + "%";
            result = true;
        };
        return result;
    }



    function rotation() {
        $("#rotate").rotate({
            duration: 40000,
            angle: currentAngle,
            animateTo: 360 + currentAngle,
            callback: rotation,
            easing: function(x, t, b, c, d) {
                return c * (t / d) + b;
            }
        });
    };

    function stopRotation() {
        // body...
        $("#rotate").stopRotate();
        currentAngle = parseFloat($("#rotate").getRotateAngle());
    }
    </script>
</head>

<body ng-controller="myCtrl">
    <ion-header-bar class="bar-balanced">
        <button class="button button-clear button-primary" ng-click="showPlayerList">列表</button>
        <h1 class="title">音乐播放器</h1>
        <button class="button button-clear button-primary" ng-click="showMusicPlayer()">播放器</button>
    </ion-header-bar>
    <ion-content has-subheader="false">
        <div class="list list-inset">
            <div class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input id="searchFiled" type="text" placeholder="请输入歌曲名" ng-model="musicname">
                <button ng-click="toggle()" class="button button-balanced rightButton">搜索</button>
            </div>
        </div>
        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item ng-click="changMusic($index,$event)" ng-repeat="item in songs" item="item" href="#" class="item-remove-animate">
                <h2 class="titleClass">{{item.name}}</h2>
                <p> 歌手: <a class="link" ng-click="searchMusic(item.artists[0].name);$event.stopPropagation()" href="#">{{item.artists[0].name}}</a> 专辑: <a class="link" ng-click="searchMusic(item.album.name);$event.stopPropagation()" href="#">{{item.album.name}} </a></p>
            </ion-item>
        </ion-list>
    </ion-content>
    <script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-balanced">
                <h1 class="title">{{currentSong.name}}</h1>
                <button class="button button-clear button-primary" ng-click="modal.hide()">隐藏</button>
            </ion-header-bar>
            <ion-content class="padding centerClass">
                <div class="content has-header">
                    <div class="">
                        <img id="rotate" class="coverimage" ng-src="{{currentSong.album.picUrl}}" }/></div>
                    <div class="content selectable">
                        <h2 class="titleClass">{{currentSong.name}}</h2>
                        <p> 歌手:<a class="link" ng-click="searchMusic(currentSong.artists[0].name);$event.stopPropagation()" href="#">{{currentSong.artists[0].name}}</a> 专辑: <a class="link" ng-click="searchMusic(currentSong.album.name);$event.stopPropagation()" href="#">{{currentSong.album.name}} </a> </p>
                        <p>
                            <audio id="myVideo" preload="auto">
                                <source id="source1" src="http://m2.music.126.net/vrCwacYB8i6CCzYcPOecTQ==/1400777822522765.mp3">
                                <source id="source2" src="http://p2.music.126.net/vrCwacYB8i6CCzYcPOecTQ==/1400777822522765.mp3"> 您的浏览器不支持audio属性，请更换浏览器在进行浏览。
                            </audio>
                        </p>
                        <div id="progressbg" class="progressbar" onclick="progressClick(event)">
                            <span id="progress" class="green" style="width:0%;"></span>
                        </div>
                        <p><img id="play" ng-src="{{palyImage}}" style="cursor:hand;" onclick="playAction()"></p>
                        <p>播放位置: <span id="time"></span></p>
                        <p><span id="showText">{{currentLyric}}</span> </p>
                        <p><br></p>
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</body>

</html>
