doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://www.runoob.com/static/ionic/css/ionic.min.css')
    script(src='http://www.runoob.com/static/ionic/js/ionic.bundle.min.js')
  body
    block content
